body {
    background-image: url("images/cutlery.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: fit-content;
}

.home {
    background-color: rgba(102, 102, 91, .5);
}

.home:hover{
    color:gold;
}

.return {
    margin-top:30px;
    display:inline-block;
}

h1 {
    text-align: center;
}
.overall-padding {
padding-left:50px;
}


h1, h2, h3, .description, .home{
    color:white;
}

.description {
    font-size:20px;
    background-color: rgba(102, 102, 91, .5);
    display:inline-block;
    margin:auto;
    padding:5px;
    max-width: 700px;
}
ul, ol {
    background-color: rgba(102, 102, 91, .5);
    display:inline-block;
    padding:10px 20px;

}

li {
    font-size: 15px;
    color:white;
    font-weight: bold;
    margin:5px;
}

.link {
    font-size: 25px;
    color:white;
    font-weight: bold;
}

.link:hover{
    font-size: 25px;
    color:gold;
    font-weight: bold;
}

.photo {
    border-radius: 5%;
    margin-left:auto;
    margin-right: auto;
    display:block;
    max-width: 80%;
}
.home{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

a:link { 
    text-decoration: none; 
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}