body {
    background-image: url("images/cutlery.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
    background-color: rgba(102, 102, 91, .5);
}

h1 {
    text-align: center;
}

h1, h2, h3, p, .home{
    color:white;
}

p {
    font-size:20px;
}

li {
    font-size: 15px;
    color:white;
    font-weight: bold;
}

.link {
    font-size: 25px;
    color:white;
    font-weight: bold;
}

.photo {
    border-radius: 5%;
}

#rabbit {
    margin:auto;
    display: block;

}